body {
    background: #202020;
    min-height: 100vh;
    text-align: center;
    
}

h1, h2 {
    color: #9792E3;
    font-family: "Roboto", serif;
    text-align: center;

}

a {
    color: #EDFFEC;
    font-family: "Lato", sans-serif;
    padding: 15px;
    background-color: #3f3f3f;
    text-decoration: none;
}

a:hover {
    color: #61E786;
}

main p {
    width: max-width;
    margin: 0 auto;
    font-size: 18px;
}

p {
    color: #9792e3; 
    font-family: "Lato", sans-serif;
}

p a {
    color: #61E786;
    background-color: #242424;
    padding: 0px;
}

p a:hover {
    color: #fdf7fa; 
}

footer {
    color: #61E786;
    font-family: "Lato", sans-serif;
    text-align: center;
    position: sticky;
    top: 100%;
    font-size: 18px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #9792e3;
    font-family: "Inter", serif;
    font-size: 18px;
}

nav li {
    display: inline;
    font-family: "Lato", sans-serif;
}

figcaption {
    color: #61E786;
    font-family: "Inter", serif;
    font-size: 18px;
}

ol {
    color: #9792e3; 
    list-style-type: none;
    font-family: "Inter", serif;
    font-size: 18px;
}

.introduction {
    display: table;
    margin: 0 auto;
    text-align: left;
    max-width: 600px;
}


main, img, figcaption {
    display: table;
    margin: 0 auto;
    text-align: left;
    max-width: 600px;
  }

